a[href$=".pdf"]:before,
a[href$=".doc"]:before,
a[href$=".docx"]:before,
a[href$=".xls"]:before,
a[href$=".xlsx"]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pdf:before,
a[href$=".pdf"]:before {
  content: "\f1c1";
}
.icon-word:before,
a[href$=".doc"]:before,
a[href$=".docx"]:before {
  content: "\f1c2";
}
.icon-excel:before,
a[href$=".xls"]:before,
a[href$=".xlsx"]:before {
  content: "\f1c3";
}

.icon-globe:before {
  content: "\e2c4";
}
.icon-earth:before {
  content: "\e2c7";
}
.icon-lock:before {
  content: "\e1d5";
}
.icon-close:before {
  content: "\e36c";
}
.icon-play:before {
  content: "\e385";
}
.icon-pause:before {
  content: "\e386";
}
.icon-home:before {
  content: "\f015";
}
.icon-pdf:before {
  content: "\f1c1";
}
.icon-word:before {
  content: "\f1c2";
}
.icon-excel:before {
  content: "\f1c3";
}
.icon-powerpoint:before {
  content: "\f1c4";
}
.icon-document:before {
  content: "\f1c5";
}
.icon-search:before {
  content: "\e617";
}
.icon-external-link:before {
  content: "\e616";
}
.icon-right-arrow:before {
  content: "\e607";
}
.icon-left-arrow:before {
  content: "\e608";
}
.icon-favorite:before {
  content: "\e618";
}
.icon-repost:before {
  content: "\e619";
}
.invert .icon-blog:before {
  content: "\e609";
}
.invert .icon-email:before {
  content: "\e60a";
}
.invert .icon-facebook:before {
  content: "\e60b";
}
.invert .icon-flickr:before {
  content: "\e60c";
}
.invert .icon-googleplus:before {
  content: "\e60d";
}
.invert .icon-instagram:before {
  content: "\e60e";
}
.invert .icon-linkedin:before {
  content: "\e60f";
}
.invert .icon-location:before {
  content: "\e610";
}
.invert .icon-pinterest:before {
  content: "\e611";
}
.invert .icon-tumblr:before {
  content: "\e612";
}
.invert .icon-twitter:before {
  content: "\e613";
}
.invert .icon-vimeo:before {
  content: "\e614";
}
.invert .icon-youtube:before {
  content: "\e615";
}
.icon-email:before {
  content: "\e603";
}
.icon-tumblr:before {
  content: "\e604";
}
.icon-flickr:before {
  content: "\e605";
}
.icon-googleplus:before {
  content: "\e606";
}
.icon-location:before {
  content: "\e600";
}
.icon-blog:before {
  content: "\e601";
}
.icon-vimeo:before {
  content: "\e602";
}
.icon-pinterest:before {
  content: "\e620";
}
.icon-youtube:before {
  content: "\e621";
}
.icon-twitter:before {
  content: "\e622";
}
.icon-linkedin:before {
  content: "\e623";
}
.icon-instagram:before {
  content: "\e624";
}
.icon-facebook:before {
  content: "\e625";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}

/* New 2017-03-29 */
.icon-instagram:before {
  content: "\e901";
}
.invert .icon-instagram:before {
  content: "\e900";
}
.invert .icon-weibo:before {
  content: "\f18a";
}
.icon-weibo:before {
  content: "\f18b";
}
/* New 2017-04-24 */
.icon-youtube:before {
  content: "\e902";
}
.invert .icon-youtube:before {
  content: "\f16a";
}
.icon-gift:before {
  content: "\e904";
}
.invert .icon-gift:before {
  content: "\e903";
}

/* New 2018-03-29 */
.invert .icon-snapchat:before {
  content: "\f2ac";
}
.icon-snapchat:before {
  content: "\f2ab";
}
